@model Papeleria_MVC.Models.GetByArticleAndMovementTypeModel

@{
    ViewData["Title"] = "GetByArticleAndMovementType";
}

<h1>GetByArticleAndMovementType</h1>

<h4>GetByArticleAndMovementTypeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetByArticleAndMovementTypeIndex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <select asp-for="ItemId" class="form-select">
                    <option value="">Selecciona un artículo</option>
                    @foreach (var item in Model.Items)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovementTypeId" class="control-label"></label>
                <select asp-for="MovementTypeId" class="form-select">
                    <option value="">Selecciona un tipo de movimiento</option>
                    @foreach (var movementType in Model.MovementTypes)
                    {
                        <option value="@movementType.Value">@movementType.Text</option>
                    }
                </select>
                <span asp-validation-for="MovementTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Page" class="control-label"></label>
                <input asp-for="Page" class="form-control" />
                <span asp-validation-for="Page" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageSize" class="control-label"></label>
                <input asp-for="PageSize" class="form-control" />
                <span asp-validation-for="PageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Listar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

